<div class="row">
  <div class="col-sm-6">
    <h2>Welcome</h2>
    <div>
      We are dedicated to helping familiers, friends, and players save the memories of their favorite big plays.
    </div>
    <div>
      Type in a zip code to help find a facility
    </div>
    {{field-search}}
  </div>
  <div class="col-sm-6">
  </div>
</div>