<ul class="nav nav-tabs">
    <li>{{#link-to "about"}}About{{/link-to}}</li>
    <li>{{#link-to "mission"}}Mission{{/link-to}}</li>
    <li>{{#link-to "examples"}}Examples{{/link-to}}</li>
    <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
    <li>{{#link-to 'login'}}Login{{/link-to}}</li>
</ul>
